:host ::ng-deep .p-menu {
    background: var(--primary-clr);
    border: 1px solid var(--border-clr);
}

:host ::ng-deep .p-menu .p-menu-list .p-menuitem .p-menuitem-content .p-menuitem-link {
    color: var(--text-clr);
}

:host ::ng-deep .p-menu .p-menu-list .p-menuitem.p-focus .p-menuitem-content .p-menuitem-link {
    color: var(--primary-clr);
}

.blinking-icon {
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
