<div class="w-full h-full" [ngClass]="{ 'flex items-center  justify-center': !loadedPDF }">
    <div #resumeWrap class="w-full h-full flex flex-col justify-between items-center">
        <div class="flex">
            <p-button
                (click)="onDownload()"
                icon="pi pi-download"
                label="Download"
                class="border border-solid py-3 px-2 rounded-lg" />
        </div>
        <pdf-viewer
            src="../assets/resume/resume.pdf"
            [render-text]="true"
            [original-size]="currPDFWidth === '820px'"
            [style.width]="currPDFWidth"
            (on-progress)="onProgress($event)"
            (after-load-complete)="afterLoad()"
            style="height: 90%"></pdf-viewer>
    </div>
    <ng-container *ngIf="!loadedPDF">
        <p-progressBar class="absolute w-10/12 md:w-1/3 2xl:w-1/4" [value]="loadingProgress" />
    </ng-container>
</div>
