<div class="w-full h-full">
    <div class="w-full h-full hidden lg:flex lg:flex-col lg:justify-between lg:items-center">
        <div class="flex">
            <p-button
                (click)="onDownload()"
                icon="pi pi-download"
                label="Download"
                class="border border-solid py-3 px-2 rounded-lg" />
        </div>
        <pdf-viewer
            src="../assets/resume/resume.pdf"
            [render-text]="true"
            [original-size]="true"
            style="width: 820px; height: 90%"></pdf-viewer>
    </div>
    <div class="w-full h-full lg:hidden flex justify-center mt-4 md:mt-0 md:items-center">
        <div class="w-full md:w-3/4 rounded-b-lg h-max pdf-wrap">
            <img src="../assets/images/resume.png" class="w-full resume-img" />
            <div
                class="border-t-4 pdf-base rounded-b-lg h-12 md:h-14 flex justify-end items-center pdf-base">
                <div class="">
                    <p-button
                        (click)="onDownload()"
                        icon="pi pi-download"
                        label="Download"
                        class="base-btn border border-solid py-1 px-2 rounded-lg mr-4" />
                </div>
            </div>
        </div>
    </div>
</div>
