<div class="h-full w-full">
    <div class="flex flex-col gap-y-4 md:flex-row h-full w-full justify-around items-center">
        <div class="w-full md:w-8/12 flex justify-center">
            <div class="w-10/12">
                <div class="very-big name-container">Roshan Nihaal Jahangeer,</div>
                <div class="text-content">
                    I'm a Software Developer with 2 years and 3 months of experience, driven by a
                    passion for crafting and architecting projects, while continuously exploring new
                    technologies. As a full-stack developer, I enjoy building projects, many of
                    which are available on my
                    <span class="highlight">GitHub</span>. I'm also active on
                    <span class="highlight">LeetCode</span>, regularly honing my skills in data
                    structures and algorithms. Beyond coding, I love immersing myself in PC games,
                    movies, and series, balancing my technical pursuits with a love for
                    entertainment.
                </div>
            </div>
        </div>
        <div class="w-full md:w-4/12 flex justify-center">
            <div class="w-3/4 md:w-1/2">
                <p-carousel
                    [value]="skills"
                    [numVisible]="1"
                    [numScroll]="1"
                    [circular]="false"
                    [circular]="true"
                    autoplayInterval="1500">
                    <ng-template let-skill pTemplate="item">
                        <div class="w-full flex justify-center">
                            <img [src]="skill.image" alt="skill.name" width="200" />
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>
</div>
