<div class="h-full w-full">
    <div class="flex h-full w-full justify-around items-center">
        <div class="flex w-8/12">
            <div class="w-2/12"></div>
            <div class="w-10/12">
                <div class="very-big name-container">Roshan Nihaal Jahangeer,</div>
                <div class="text-content">
                    I'm a Software Developer with 2 years of experience, passionate about coding and
                    constantly exploring new technologies. As a full-stack developer, I enjoy
                    building projects, many of which are available on my
                    <span class="highlight">GitHub</span>. I'm also active on
                    <span class="highlight">LeetCode</span>, regularly honing my skills in data
                    structures and algorithms. Outside of coding, I love immersing myself in PC
                    games, movies, and series, balancing my technical pursuits with a love for
                    entertainment.
                </div>
            </div>
        </div>
        <div class="w-4/12"></div>
    </div>
</div>
